@import "colores";
@import "tipografia";
@import "house";
@import "portada";
@import "banner";
@import "footer";
@import "navbar";

@mixin bodydefault {
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: Georgia, "Times New Roman", Times, serif;
}

@mixin bannerdefault {
  font-family: $fonttitulos;
  color: $letrablanca;
  text-align: center;
}

@mixin edicionespopulares {
  background-size: contain;
  width: 200px;
  height: 200px;
  border-radius: 20%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  @include bodydefault;
  background-color: black;
}

/* MAIN */

.discos {
  width: 200px;
  margin-bottom: 30px;
  height: 200px;
  background-size: contain;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  p {
    font-size: 1rem;
    text-align: center;
    color: white;
    font-family: $fonttextos;
    margin-top: 15px;
    font-weight: bold;
  }
  &:hover {
    border: solid 6px $letranaranja;
    opacity: 4;
  }
}

.explorar {
  font-family: $fonttitulos;
  margin-left: 30px;
  color: $letranaranja;
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.primero {
  background-image: url(../imagenes/santi.jpg);
}

.segundo {
  background-image: url(../imagenes/villalobos.jpeg);
}

.tercero {
  background-image: url(../imagenes/51DiRVekeML.jpeg);
}

.cuarto {
  background-image: url(../imagenes/tincho.jpg);
}

.EdicionesPopulares {
  background-color: $bcrosadito;
  padding: 40px;
  margin-bottom: 70px;

  p {
    font-family: $fonttitulos;
    margin-left: 30px;
    color: $letranaranja;
    font-size: 1.4rem;
    margin-bottom: 35px;
  }
}

.popular {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.daftpunk {
  background-image: url(../imagenes/daftpunk.jpg);
  @include edicionespopulares;
}

.madonna {
  background-image: url(../imagenes/maddonna.jpeg);
  @include edicionespopulares;
}

.depechemode {
  background-image: url(../imagenes/depechemode.jpeg);
  @include edicionespopulares;
}

.daftpunk:hover,
.madonna:hover,
.depechemode:hover {
  border: solid 6px $letraroja;
  opacity: 4;
}

.MasVendidos {
  font-family: $fonttitulos;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45rem;
  font-size: 2rem;

  iframe {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30rem;
  }
  h1 {
    color: $letraturquesa;
    text-align: center;
  }
}

#Preferidos {
  font-family: $fonttitulos;
  color: $letraroja;
  width: 90%;
  margin-left: 20px;
  font-size: 1.2rem;
}

.Comentario {
  height: 50px;
  width: 500px;
}

.parrafo {
  font-family: $fonttextos;
  color: $letrablanca;
  word-spacing: 4 px;
  line-height: 20px;
  font-size: 0.8rem;
  margin-bottom: 60px;
  margin-left: 20px;
}

.Porque {
  font-family: $fonttitulos;
  color: $letraroja;
  margin-left: 20px;
  font-size: 1.5rem;
  margin-top: 30px;
}

.AchicarCarrusel {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 30px;
  font-family: $fonttextos !important;
  font-size: 1.5rem;
}

.USA {
  color: $letraturquesa !important;
  text-align: center;
  font-family: $fonttitulos;
}

.discosHola {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.MejorVinilos {
  width: 60%;
  align-content: center;
}

.AgustinaSaul {
  text-align: center;
  margin-top: 70px;
  background-color: orange;
  font-family: $fonttextos;
}

.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: black;
    border:none;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}

@import "mediaq";